*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
local.properties

# Gradle
.gradle/
build/

# Log files
*.log

# Google Services (Secret file)
google-services.json

# Other
app/src/main/res/raw/appinsights.properties
.DS_Store
